@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 90vw;
    margin: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: italic;
}

h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    padding-left: 1rem;
    border-left: 0.5rem solid;
    line-height: 2rem;
    box-sizing: border-box;
}

#projects h2 {
    font-weight: 350;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 2rem;
}

main {
    width: 80%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Bitter', serif;
    font-weight: 350;
    font-size: 1.2rem;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

.self-intro span {
    font-weight: 500;
}

#homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#intro {
    margin-top: 3rem;
}

#homepage h1 {
    flex: 1;
}

.self-intro {
    flex: 1;
}

.self-intro ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #1F1F1F;
}

.self-intro p {
    margin-top: 1.5rem;
}

#global-top-bar {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 1rem;
    width: 100vw;
    z-index: 10;
}

#global-bottom-bar {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.5rem;
    width: 100vw;
    z-index: 10;
}

.section-bar {
    flex: 1;
    height: 100%;
}

.page {
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
    z-index: 0;
}

#bar-research {
    background-color: #635BFF;
}

#bar-insight {
    background-color: #C2E427;
}

#bar-design {
    background-color: #FFA858;
}

#projects [id ^= "bar-"] {
    height: 0.15rem;
    width: 50%;
}

#toc {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#projects {
    flex: 1;
}

#all-tags{
    flex: 1;
}

#projects > div {
    margin-bottom: 5rem;
}

#projects h2 {
    margin-top: 0; 
    padding-top: 0.75rem;
}

#projects div:hover {
    cursor: pointer;
}

.research-items,
.insight-items,
.design-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 0.5rem;
}

.research-card,
.insight-card,
.design-card {
    flex: 0 1 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.research-card .card-image {
    border-color: #635BFF;
}

.insight-card .card-image {
    border-color: #C2E427;
}

.design-card .card-image {
    border-color: #FFA858;
}

.card-image {
    border: 1px solid; 
    border-radius: 1rem;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9; 
}

.card-image img,
.card-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}


#global-top-bar .section-bar.is-active {
    flex-basis: 100%;
    height: 1rem;
    opacity: 1;
    cursor: pointer;
}

#global-top-bar .section-bar.is-history {
    flex-basis: 100%;
    height: 0.5rem;
    opacity: 0.8;
}

#research ul.tags, 
#insight ul.tags,
#design ul.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#research .tags li, 
#all-tags .research {
    color: #635BFF;
    border: 1px solid #635BFF;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    width: fit-content;
}

#research .tags li:hover, 
#all-tags .research:hover { 
    box-shadow: 0 0 0 1px #635BFF99, 
                0 6px 14px #635BFF40;
    transform: translateY(-1px);
}

#research h1 + ul {
    flex-direction: column;
    margin-bottom: 3rem;
}

#insight ul.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#insight .tags li, 
#all-tags .insight {
    color: #C2E427;
    border: 1px solid #C2E427;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    width: fit-content;
}

#insight .tags li:hover, 
#all-tags .insight:hover { 
    box-shadow: 0 0 0 1px #c2e42799, 
                0 6px 14px #c2e42740;
    transform: translateY(-1px);
}

#insight h1 + ul {
    flex-direction: column;
    margin-bottom: 3rem;
}

#design ul.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#design .tags li, 
#all-tags .design {
    color: #FFA858;
    border: 1px solid #FFA858;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    width: fit-content;
}

#design .tags li:hover, 
#all-tags .design:hover { 
    box-shadow: 0 0 0 1px #FFA85899, 
                0 6px 14px #FFA85840;
    transform: translateY(-1px);
}

#design h1 + ul {
    flex-direction: column;
    margin-bottom: 3rem;
}

#all-tags .general {
    color: #D06EFF;

}

#sticky {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 5; 
}

#research h2, 
#insight h2,
#design h2 {
    margin-top: 1.5rem;
    font-style: italic;
}

#all-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding-top: 0;
    margin-top: 0;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 250;
    font-size: 1rem;
    color: #1F1F1F80;
}

#contact-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 250;
    font-size: 1rem;
}

footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#contact-footer li a {
    color: #1F1F1F80;
}

#homepage ul li:hover, 
#contact-footer li:hover {
    text-shadow: 0 0 1px #1F1F1F99, 
                0 6px 14px #1F1F1F40;
    transform: translateY(-1px);
}

main#research #top-bar {
    background-color: #635BFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 1.5rem;
    width: 100vw;
    z-index: 10;
}

main#insight #top-bar {
    background-color: #C2E427;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 1.5rem;
    width: 100vw;
    z-index: 10;
}

main#design #top-bar {
    background-color: #FFA858;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 1.5rem;
    width: 100vw;
    z-index: 10;
}

main#insight {
    max-width: 70vw;
}

main#research #mother-section {
    color: #635BFF;
    white-space: nowrap;
}

main#insight #mother-section {
    color: #C2E427;
    white-space: nowrap;
}

main#design #mother-section {
    color: #FFA858;
    white-space: nowrap;
}

#mother-section:hover {
    cursor: pointer;
}

main#research .tags,
main#insight .tags, 
main#design .tags {
    margin-top: 0;
}

#article-title {
    display: flex; 
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 2rem;
}

#article-content {
    margin-top: 4rem;
}

#article-content .meta-data {
    font-style: italic;
}

#article-content #date, 
#article-content #demo {
    font-weight: 350;
    margin-bottom: 0.5rem; 
    padding-bottom: 0;
}

#design #article-content #co-author {
    font-weight: 250;
    margin-top: 0; 
    padding-top: 0;
}

#design #article-content #demo a {
    text-decoration: none;
    color: #FFA858;
}

#insight #article-content #co-author {
    font-weight: 250;
    margin-top: 0; 
    padding-top: 0;
}

#insight #article-content #demo a {
    text-decoration: none;
    color: #C2E427;
}

#design #article-content #demo:hover {
    text-shadow: 0 0 1px #FFA85899, 
                0 6px 14px #FFA85840;
    transform: translateY(-1px);
}

#insight #article-content #demo:hover {
    text-shadow: 0 0 1px #C2E42799, 
                0 6px 14px #C2E42740;
    transform: translateY(-1px);
}

.body-container {
    position: relative;
    margin-top: 3rem;
}

.slideshow {
    width: 50%;
    margin: 0 2rem 1rem 0; 
    height: fit-content;
    float: left; 
}

.zestypaws .slideshow {
    float: right; 
    margin: 0 0 0 2rem; 
}

.slideshow video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid #C2E427;
}

#insight.text img {
    width: 40%;
    margin: 2rem 0 1rem 2rem; 
    height: fit-content;
    float: right; 
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid #C2E427;
}

main#insight h3 {
    border-left: 0.5rem solid #C2E427;
}

main#design h3 {
    border-left: 0.5rem solid #FFA858;
}

#article-content h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.spreadbeats #strategies > li, 
.spreadbeats #evaluation > li, 
.heatwise .text > ul {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
}

.fridgemate .usability-testing {
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 2rem;
}

.spreadbeats #strategies ul,
.spreadbeats #evaluation ul, 
.heatwise .user-interviews ul, 
.fridgemate .user-interviews {
    list-style: disc;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0.5rem auto 1.5rem 2rem;
    font-style: italic;
}

.spreadbeats #recommendations-list, 
.zestypaws .text > ul {
    list-style: disc;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-style: italic;
}

.zestypaws #recommendations {
    list-style: disc;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0.5rem auto 1.5rem 2rem;
    font-style: italic;
}


.heatwise .text a {
    color: inherit;
}

details {
    margin-top: 2rem;
}

details summary {
    font-family: 'Bitter', serif;
    font-weight: 350;
    font-size: 1.2rem;
    color: #1F1F1F80;
}

#insight summary::marker {
    color: #C2E427;
    font-size: 1rem; 
}

#design summary::marker {
    color: #FFA858;
    font-size: 1rem; 
}

.references p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #1F1F1F80;
}

main#insight #mother-section:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px #C2E42799, 
                0 6px 14px #C2E42740;
    transform: translateY(-2px);
}

main#design #mother-section:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px #FFA85899, 
                0 6px 14px #FFA85840;
    transform: translateY(-2px);
}

.insight-card a,
.insight-card a:visited,
.design-card a,
.design-card a:visited {
    color: inherit;
    text-decoration: none;
}

.insight-card:hover {
    transform: translateY(-3px);
}

em {
    font-style: italic;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.control button {
    border: none;
    border-radius: 1.5rem;
    background-color: transparent;
    font-family: 'Bitter', serif;
    font-weight: 250;
    font-size: 1.2rem;
    color: #1F1F1F;
    cursor: pointer;
}

.control button:hover {
    transform: translateY(-3px);
}

#design #demo .ph-caret-right {
    color: #FFA858;
}

#insight #demo .ph-caret-right {
    color: #C2E427;
}

img.hero {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 6px 14px #1f1f1f20;
}

#design .text img {
    width: 100%;
    height: auto;
    border: none; 
    box-shadow: 0 6px 14px #1f1f1f20;
    border-radius: 0.5rem;
    margin: 2rem 0 1rem 0;
}

/* filtering */
.is-hidden {
    display: none;
}

/* active tag state */
#research .tags li.is-active {
    box-shadow: 0 0 0 1px #635BFF99, 
                0 6px 14px #635BFF40;
    transform: translateY(-1px);
    font-weight: 500;
}

#insight .tags li.is-active {
    box-shadow: 0 0 0 1px #c2e42799, 
                0 6px 14px #c2e42740;
    transform: translateY(-1px);
    font-weight: 500;
}

#design .tags li.is-active {
    box-shadow: 0 0 0 1px #ffa85899, 
                0 6px 14px #ffa85840;
    transform: translateY(-1px);
    font-weight: 500;
}

figcaption {
    font-family: 'bitter', serif;
    font-weight: 350;
    font-size: 1.2rem; 
    line-height: 2rem;
    margin-bottom: 1rem;
    color: #1F1F1F;
}

.infographics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.infographics img {
    margin: 0 0 3rem 0; 
}

.infographics-display-col1 {
    flex: 1;
}

.infographics-display-col2 {
    flex: 1;
}

.infographics img {
    width: 100%;
    border: none; 
    box-shadow: 0 6px 14px #1f1f1f20; 
    border-radius: 0.5rem;
}


@media (max-width: 1100px) {

    .research-items,
    .insight-items,
    .design-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .research-card,
    .insight-card,
    .design-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

}

@media (max-width: 950px) {

    #homepage {
        flex-direction: column;
    }

    .self-intro {
        margin-bottom: 2rem;
    }

    #projects [id ^= "bar-"] {
        width: 70%;
    }

    #footer {
        flex-direction: column;
        gap: 1rem;
    }

    .slideshow {
        width: 100%;
        margin: 0 0 1rem 0; 
        float: none; 
    }

    .zestypaws .slideshow {
        margin: 0 0 3rem 0;
    }

    #article-title {
        flex-wrap: wrap;
    }

    #mother-section {
        margin-bottom: 0;
    }

    #article-title h1 {
        margin-top: 0;
    }

    .control {
        margin: 6rem 0 4rem 0;
    }

    .infographics {
        flex-direction: column;
    }

}

@media (max-width: 830px) {

    body {
        max-width: 95vw;
    }

    #toc {
        flex-direction: column;
    }

    #projects {
        width: 90%;
        margin-bottom: 1rem;
    }
    
}
